eval "$(hub alias -s)"
alias gsa='git stash apply'
alias nukedd='rm -r ~/Library/Developer/Xcode/DerivedData/*'
alias gsu='git submodule update --init --recursive'
alias h-pull-r='hub pull-request -b'
alias h='hub'
alias gpoh='git push origin head'
alias gmt='git mergetool'
alias g='git'
alias gl='git log'
alias gs='git status'
alias bepru='bundle exec pod repo update'
alias bepu='bundle exec pod update'
alias bepi='bundle exec pod install'
alias be='bundle exec'
alias bi='bundle install'
alias bu='bundle update'
alias review-macos='cd ~/Review\ Repositories/Vimeo-MacOS/'
alias review-networking='cd ~/Review\ Repositories/VimeoNetworking/'
alias review-ios='cd ~/Review\ Repositories/Vimeo-iOS/'
alias review-repos='cd ~/Review\ Repositories'
alias vimeo-container='~/Library/Containers/com.vimeo.mac/Data/'
alias pu='pod update'
alias pi='pod install'
alias copy-pwd='pwd | pbcopy'
alias edit-aliases='vim ~/.aliases'
alias show-aliases='cat ~/.aliases'
alias develop-player='cd ~/Repositories/PlayerKit/'
alias develop-upload='cd ~/Repositories/VimeoUpload/'
alias develop-networking='cd ~/Repositories/VimeoNetworking/'
alias develop-ios='cd ~/Repositories/Vimeo-iOS/'
alias develop-monorepo='cd ~/Repositories/monorepo/'
alias develop-macos='cd ~/Repositories/monorepo/Vimeo-macOS/'
alias tail-vimeo-log='tail -f ~/Library/Containers/com.vimeo.mac/Data/Library/Caches/vimeo.log'
alias kin-vimeo='cd-vimeo-macos && kin Vimeo.xcodeproj/project.pbxproj'
alias synx-vimeo='cd-vimeo-macos && synx Vimeo.xcodeproj'
